<div class="container">
  <div class="profile_picture">
    <app-profile-picture-upload [currentPictureUri]="profileEditViewModel.profilePictureUri">
    </app-profile-picture-upload>
  </div>
  <div class="profile_info">
    <form>

      <div class="field">
        <mat-form-field appearance="fill">
          <mat-label>{{profileEditViewModel.fullName}}</mat-label>
          <input matInput placeholder="სახელი & გვარი">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field appearance="fill" [floatLabel]="'auto'">
          <mat-label>{{profileEditViewModel.email}}</mat-label>
          <input matInput placeholder="იმეილი">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field appearance="fill" [floatLabel]="'auto'">
          <mat-label>{{profileEditViewModel.phone}}</mat-label>
          <input matInput placeholder="ტელეფონის ნომერი">
        </mat-form-field>
      </div>

      <div class="field">
        <mat-form-field appearance="fill" [floatLabel]="'auto'">
          <mat-label>{{profileEditViewModel.address}}</mat-label>
          <input matInput placeholder="მისამართი">
        </mat-form-field>
      </div>

      <div class="field">
        <button class="save" (click)="save()" mat-raised-button color="primary">Save</button>
      </div>


    </form>
  </div>
</div>
