
    <div class="tile_container">

      <div class="background_image">
        <div class="tile_item title">
          {{item?.name}}
        </div>
        <div class="additional_info">



          <div class="tile_item date">
            <ng-container *ngIf="type === eventType">
              <mat-icon>date_range</mat-icon>
              {{item?.startTime| date: 'MMM dd hh:mm' }}
            </ng-container>

            <ng-container *ngIf="type !== eventType">
              <mat-icon>date_range</mat-icon>
              {{item?.startTime| date: 'MMM dd hh:mm' }} - {{$any(item).endTime| date: 'MMM dd hh:mm' }}
            </ng-container>

          </div>
          <div class="tile_item host">
            <picture>
              <img src="{{item?.host?.profilePictureUri}}" alt="" />
            </picture>
            {{item?.host?.name | trimText:13}}
          </div>
          <div class="tile_item address">
            <mat-icon>location_on</mat-icon>
            <span>{{item?.address | trimText:20}}</span>
          </div>

        </div>

      </div>
      <div class="tile_item favourite">
        <img *ngIf="item?.isFavourite" src='assets/icons/red-heart-icon.png' />
        <img *ngIf="!item?.isFavourite" src='assets/icons/white-heart-icon.png' />
      </div>

    </div>

