

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <app-user-side-nav-section></app-user-side-nav-section>



    <button class="menu-button" mat-button routerLink="account/editProfile" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button class="menu-button" mat-button>
      <mat-icon>contacts</mat-icon>
      <span>contact</span>
    </button>
    <button class="menu-button" mat-button>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button class="menu-button" mat-button>
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="menu_button_container">
      <button  (click)="sidenav.toggle()" *ngIf="sidenav.mode === 'over'">
        <mat-icon  *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </button>
    </div>

    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
